html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-pack: center;
  justify-content: center;
  flex-align: center;
  align-items: center;
  background-color: #3A5473;
}

input {
  display: inline-block;
  width: 6em;
  margin-top: 2em;
  padding: 0.5em 1em;
  border: none;
  font-size: 24px;
  text-align: center;
}

.controls {
  display: none;
}

#call {
  box-sizing: border-box;
  display: inline-block;
  height: 53px;
  padding: 0 0.4em;
  vertical-align: bottom;
  background-color: #2c3e50;
  font-size: 3em;
  line-height: 1.15em;
  color: #fff;
  text-decoration: none;
  transition: 0.3s all;
}

#call[href] {
  background-color: #27ae60;
}

.nojs .dial {
  animation: dial 30s 2s infinite;
}

@keyframes dial {
  0% {transform: rotate(0deg);}
  12% {transform: rotate(270deg);}
  15% {transform: rotate(0deg);}
  24% {transform: rotate(210deg);}
  27% {transform: rotate(0deg);}
  36% {transform: rotate(238deg);}
  39% {transform: rotate(0deg);}
  48% {transform: rotate(180deg);}
  51% {transform: rotate(0deg);}
  60% {transform: rotate(120deg);}
  63% {transform: rotate(0deg);}
  72% {transform: rotate(331deg);}
  75% {transform: rotate(0deg);}
  88% {transform: rotate(298deg);}
  91% {transform: rotate(0deg);}
}

.nojs .hole-wrapper:nth-child(8) .hole {
  animation: n8 30s 2s infinite;
}

.nojs .hole-wrapper:nth-child(6) .hole {
  animation: n6 30s 2s infinite;
}

.nojs .hole-wrapper:nth-child(7) .hole {
  animation: n7 30s 2s infinite;
}

.nojs .hole-wrapper:nth-child(5) .hole {
  animation: n5 30s 2s infinite;
}

.nojs .hole-wrapper:nth-child(3) .hole {
  animation: n3 30s 2s infinite;
}

.nojs .hole-wrapper:nth-child(10) .hole {
  animation: n0 30s 2s infinite;
}

.nojs .hole-wrapper:nth-child(9) .hole {
  animation: n9 30s 2s infinite;
}

@keyframes n8 {
  1% {background-color: #2c3e50;}
  2% {background-color: #3498db;}
  12% {background-color: #3498db;}
  13% {background-color: #2c3e50;}
}

@keyframes n6 {
  15% {background-color: #2c3e50;}
  16% {background-color: #3498db;}
  24% {background-color: #3498db;}
  25% {background-color: #2c3e50;}
}

@keyframes n7 {
  27% {background-color: #2c3e50;}
  28% {background-color: #3498db;}
  36% {background-color: #3498db;}
  37% {background-color: #2c3e50;}
}

@keyframes n5 {
  39% {background-color: #2c3e50;}
  40% {background-color: #3498db;}
  48% {background-color: #3498db;}
  49% {background-color: #2c3e50;}
}

@keyframes n3 {
  51% {background-color: #2c3e50;}
  52% {background-color: #3498db;}
  60% {background-color: #3498db;}
  61% {background-color: #2c3e50;}
}

@keyframes n0 {
  63% {background-color: #2c3e50;}
  64% {background-color: #3498db;}
  72% {background-color: #3498db;}
  73% {background-color: #2c3e50;}
}

@keyframes n9 {
  75% {background-color: #2c3e50;}
  76% {background-color: #3498db;}
  88% {background-color: #3498db;}
  89% {background-color: #2c3e50;}
}
